---
import Content from "../../components/Content.astro";
import ContentGroup from "../../components/ContentGroup.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout currentPage="games">

  <ContentGroup>

    <Content>
      <h2> Hello, welcome to the games section </h2>
    </Content>

  </ContentGroup>

</Layout>
