<div class="_content-group">
  <slot></slot>
</div>

<style is:global>
  ._content-group {
    width: 50%;
    height: 70vh;
    background-color: #ccccccec;
    border: 4px solid black;
    border-radius: 2px;

    margin: 25px;
  }
  ._content-group * {
    margin: 5px;
  }
</style>
