<div class="_content-container">
  <slot></slot>
  <br> <br>
</div>

<style is:global>
  ._content-container {
    opacity: 1.0;
    font-size: x-large;

    scroll-padding-left: 10px;
    overflow-y: auto;
  }
</style>
