---
import Topbar from "../components/Topbar.astro";

interface Props {
  currentPage?:String;
}

const {currentPage} = Astro.props;
---

<!doctype html>

<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/images/icons/infinite.png" class=".page-icon" />
		<meta name="generator" content={Astro.generator} />
		<script src="/source/scripts/RandomIcon.js"></script>

		<link rel="stylesheet" href="/styles/main.css">

		<title> Infinite Kemonoyagi's Portal </title>

		<meta property="og:title" content="Infinite Kemonoyagi's Portal">
		<meta property="og:image" content="/images/icons/infinite.png">
	</head>

	<body>
		<Topbar currentPage={`${currentPage}`}></Topbar>

		<slot />
	</body>

</html>
