---
import Layout from '../layouts/Layout.astro'
---

<Layout>

  <a href="/"> Home </a>
	<br> <br>

  Hello, welcome to the arts section
  <br>

  <img src="./pages/arts/original/sheeps/sheeps-1-remake-2025.webp" alt="">

</Layout>
