main
{
    width: 60vw;
    height: 85vh;
    background-color: #6c6079;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5vw;
    padding: auto;
    border-radius: 7px;

    background-image: url("/resources/images/background/pat-night-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-position: center;

    scroll-padding-left: 10px;
    overflow-y: scroll;

    box-shadow: 0 4px 10px #806e92;
}

main a
{
    text-decoration: none;
    color: yellow;
}

main ul
{
    list-style: lower-alpha;
}

.group, .content-group
{
    align-items: flex;
    flex-direction: row;
}

.content-group-title-background, .content
{
    width: 98%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);

    margin-bottom: -5px;
}

.content-group-title-background
{
    background-color: #e4c1e488;
    text-align: center;
}

.content-group-title, 
.content h4
.content h2
{
    color: rgb(29, 26, 28);
    text-shadow: none;
}

.content
{
    background-color: #533a58e3;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

#youtube-video
{
    background-color: #473950;
    border-style: none; 
    border-radius: 7px; 
    width: 45%;
}

#youtube-video-section
{
    background-color: #2b262ebd;
    box-shadow: 0 4px 10px #000000;

    width: 95%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    line-height: 14px;

    list-style-type:none;
    display: flex; 
}

#youtube-video-link
{
    text-decoration: none; 
    color: rgba(211, 196, 223, 1);
}

@media (max-width: 1020px) 
{
    main
    {
        width: 95vw;
        position: fixed;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
