html, body
{
    font-family: "arial", cursive;
    font-stretch: ultra-condensed;
    font-size: medium;

    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html
{
    background-color: #45344b;
    background-image: url("/resources/images/background/pat-night-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
}

