header
{
    margin: 6px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    height: 64px;
    width: 95vw;
    top: 0px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky; 

    background-color: #cfc3cf8a;
    border-radius: 7px;

    box-shadow: 0 4px 10px #cfc3cf8a;
}

#social-bar
{
    margin-right: 35px;
    background-color: #ad87a6e8;
}

#navigation-bar
{
    background-color: #6a5969e7;
}

#social-bar,
#navigation-bar
{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;

    padding: 0 10px;
    margin: 0;
    height: 50px;
    width: fit-content;

    border-radius: 0.5em;
    border-style: solid;
    border-color: #342d34e5;
}

.social-bar-element,
.navigation-bar-element
{
    display: flex;
    align-items: center;
    list-style: none;
}

.social-bar-element a img,
.navigation-bar-element a img
{
    width: 32px;
    object-fit: contain;
    border-radius: 0.5em;
}

.social-bar-element a,
.navigation-bar-element a
{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;

    color: rgb(255, 255, 255);

    padding: 0 10px;
    height: 32px;

    background-color: #272127d2;

    border-radius: 0.5em;
    border-style: solid;
    border-color: #0c0b0cba;
}

#infinite-button a
{
    margin-right: 45px;
}
