---
import Layout from '../../layouts/Layout.astro';

import categories from '../../pages/data/arts/categories.json';
export function getStaticPaths() {
  return categories.map(category => ({
    params: { category: category.category },
    props: { category: category }
  }));
}
const { category } = Astro.props;
---

<Layout>

  <h1>{category.title}</h1>

  <a href={`/arts/${category.category}/info`}> Info </a>

</Layout>
