---
import Layout from '../../layouts/Layout.astro';

import categories from '../../pages/data/arts/categories.json';
export function getStaticPaths() {
  return categories.map(category => ({
    params: { slug: category.slug },
    props: { post: category }
  }));
}
const { post } = Astro.props;
---

<Layout>

  <h1>{post.title}</h1>

</Layout>
