---
import Content from '../../components/Content.astro';
import ContentGroup from '../../components/ContentGroup.astro';
import Layout from '../../layouts/Layout.astro';

import categories from '../../pages/data/arts/categories.json';
---

<Layout>

  <ContentGroup>

    <Content>
      <h2> Hello, welcome to the arts section </h2>
    </Content>

    <Content>
      <ul class="art-categories">
        {
          categories.map((category) => (
            <li>
              <a href={`/arts/${category.category}`}>
                {category.title}
              </a>
            </li>
          ))
        }
      </ul>
    </Content>

  </ContentGroup>

</Layout>
